<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="2.5.2.830" />
  <package id="Castle.Core" version="3.0.0.4001" />
  <package id="EPiServer.CMS.Core" version="6.1.379.0" />
  <package id="EPiServer.Framework" version="6.2.267.1" />
  <package id="PageTypeBuilder" version="2.0" />
  <package id="structuremap" version="2.6.1.0" />
</packages>